.BookCardsSortedContainer {
  display: flex;
  gap: 70px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 15%;
}

.BookCardsSortedContainerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  font-size: 40px;
  text-align: center;
  /* position: sticky; */
  /* top: 10px; */
}

@media (max-width: 550px) {
  .BookCardsSortedContainerHeader {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
  .BookCardsSortedContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
